.keyword-stats {
  margin: 20px 0;
  padding: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .keyword_list {
    li {
      margin: 5px 0;
    }
  }
}
